@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;1,600&display=swap");

* {
  box-sizing: border-box;
}
body {
  background-color: #f7f8fc;
  font-family: "Open Sans";
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}
.container {
  display: flex;
  flex-direction: row;
  width: 70%;
  margin: auto;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  margin: 0 2rem;

  width: calc(100% / 3);
}

.card-body {
  padding: 2rem;
}

.card-body h4 {
  font-size: 1.2rem;
}

.tag {
  padding: 5px 10px;
  border-radius: 15px;
  display: inline-block;
  margin: 3px 5px;
  text-transform: uppercase;

}
.tag-teal {
  background: #47bcd3;
  color: #fff;
}

.tag-blue{
    background: #5d76bf;
    color: #fff;

}

.tag-pink{
    background: #cd5a9f;
    color: #fff;

}
.card-header {
  width: 100%;
  height: 200px;
}

.user {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  align-items: center;
}

.user-info {
  margin-left: 1rem;
}
.user-info h5 {
  font-size: 1.05rem;
  margin: 0.5rem 0;
}

.user-info .small {
  color: gray;
  font-size: 0.8rem;
  padding-top: 0;
  margin-top: 0;
}

#image-1 {
  background: url("../img/card-car.jpg") no-repeat center center;
  background-size: cover;
}

#image-2 {
  background: url("../img/card-balloon.jpg") no-repeat center center;
  background-size: cover;
}

#image-3 {
  background: url("../img/card-city.jpg") no-repeat center center;
  background-size: cover;
}

.card-header .header-image {
  width: 100%;
  height: 100%;
  border-radius: 10px 10px 0 0;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
