@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
:root {
  --dark-bg-nav: #2e2e2e;
  --gray-txt-nav: #bebebe;
  --dark-bg-cards: #212121;
  --gray-icons: #878f9f;
}

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: url("img/beach-3.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #fff;
}

nav {
  background-color: #fff;
}
nav ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}
nav li {
  display: inline-block;
  color: #000;
  padding: 1rem 2rem;
}
#signup-button {
  background-color: #35c2cf;
  color: #fff;
  padding: 1rem 2rem;
  border-radius: 5px;
  border: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100vh;
}

.main {
  margin: auto;
  width: 60%;
}

#search-wrapper {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); /* rgba(0,0,0,0.2); */
}

.left-input {
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
.input-wrapper i {
  font-size: 2rem;
  position: absolute;
  transform: translate(1rem, 1rem);
  color: #000;
}
input {
  border: 0;
  font-size: 1.6rem;
  padding: 1.3rem 4rem;
  width: 100%;
  height: 100%;
}

#search-btn {
  background-color: #f89159;
  color: #fff;
  font-size: 1.3rem;
  padding: 1rem 3rem;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 100%;
}

h1 {
  font-size: 4rem;
  padding-bottom: 3rem;
  text-shadow: 1px 1px 2px black, 0 0 25px black, 0 0 5px black;
}
.footer {
  display: flex;
  flex-direction: row;
  background-color: #fff;
  color: #000;
  justify-content: space-around;
  padding: 4rem;
  width: 80%;
  margin: 1rem auto;
  border-radius: 5px;
}

.badge {
  display: inline-block;
  padding: 0.5em 0.6em;
  font-size: 1rem;
  padding-right: 0.6em;
  padding-left: 0.6em;
  border-radius: 10rem;
  color: #9695a6;
  background-color: #f0eff8;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: calc(100% / 3);
  padding: 1rem 2rem;
}

.col h3 {
  font-size: 2rem;
  text-align: left;
}
small {
  font-size: 1rem;
}

.col small {
  padding: 1rem 0;
}
.badge i {
  padding-right: 0.4rem;
}

.col div {
  display: flex;
  justify-content: flex-start;
}
